:root {
	--height-header: 60px;
	--height-footer: 30px;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	/*font-family: 'Source Code Pro', monospace;*/
	font-family: 'Ubuntu', sans-serif;
	background: linear-gradient(to bottom, #eeeeee 0%, #b9b9b9 100%);
	/*background-color: rgb(234, 236, 238);*/
}

/*button {
	
}*/

a {
	background-color: #dddddd;
}

/* <h1> to <h6> */
h1 {
	display: block;
	font-size: 32px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
}
h2 {
	display: block;
	font-size: 28px;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 10px;
}
h3 {
	display: block;
	font-size: 24px;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 5px;
}
h4 {
	display: block;
	font-size: 20px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 5px;
}
h5 {
	display: block;
	font-size: 16px;
	font-weight: 300;
	margin-top: 10px;
}
h6 {
	display: block;
	font-size: 14px;
	font-weight: 300;
	margin-top: 10px;
}

/* header */
header {
	height: var(--height-header);
	display: flex;
	align-items: center;
	background: linear-gradient(to right, #336699 0%, #993399 100%);
}
.logo-container,
.navigation-top,
.nav-links-top {
	display: flex;
}
.logo-container {
	height: 50px;
	width: 60px;
	margin: 5px;
	float: left;
	flex: 1;
}
.logo-link {
	margin: 0px;
	padding: 0px;
	background-color: #00000000;
}
.nav-links-top {
	flex: 1;
	justify-content: space-around;
	list-style: none;
}
.nav-link-top {
	margin: 20px;
	padding: 4px 10px 5px 10px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 500;
	background-color: #0000003b;
	color: white;
	text-decoration: none;
	/*text-shadow: 1px 1px 1px black;*/
}
.nav-link-top:hover {
	background-color: #0000008e;
	transition-duration: 800ms;
}
.header-right {
	flex: 3;
}


/* main */
main {
	display: grid;
	grid-gap: 10px;
	grid: auto / 250px auto;
}
.nav-links-left,
.content1 {
	height: calc(100vh - var(--height-header) - var(--height-footer));
}

/* navigation left */
.nav-links-left {
	padding: 5px;
	list-style: none;
	background-color: white;
}
.nav-titel {
	display: block;
	margin: 10px 10px 10px 10px;
	padding: 4px 10px 5px 10px;
	border-radius: 3px;
	font-size: 20px;
	font-weight: 500;
	/*background-color: #07ce82;*/
	background-color: #8b8b8b;
	color: black;
}
.nav-link-left{
	display: block;
	margin: 10px 20px 10px 20px;
	padding: 4px 10px 5px 10px;
	border-radius: 5px;
	font-size: 16px;
	background-color: #0000003b;
	color: rgb(32, 32, 32);
	text-decoration: none;
	/*text-shadow: 1px 1px 1px black;*/
}
.nav-link-left:hover {
	background-color: #0000008e;
	transition-duration: 800ms;
}


/* content1 */
.content1 {
	padding: 10px;
}


/* footer */
footer {
	display: flex;
	align-items: center;
	height: var(--height-footer);
	background: linear-gradient(to right, #336699 0%, #993399 100%);
}

.footer-container {
	margin: 5px;
	float: left;
	color: white;
}